	body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(0,255,222);
	}
	h1,h2,h3{
	text-align:center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-transform:uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
	.button {
 	background-color: black; /* black */
  	border: none;
  	border-radius: 10px 10px;
  	color: white;
  	padding: 0px 0px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.6s;
	}
	.button1 {
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	.button2:hover {
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
